<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <script src="../resources/script.js"></script>
    <script src="../resources/aluno.js"></script>
    <script src="/aluno/resources/exercicios.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>   

    <link rel="stylesheet" href="../resources/style.css">
    <link rel="stylesheet" href="/aluno/resources/index.css">
    <link rel="stylesheet" href="/aluno/resources/modal.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>AcademiaBraba - Aluno</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-laravel">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Academia Braba</a>
        <!--<button class="bi bi-list menu-mobile" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->         <i class="bi bi-list menu-mobile"></i>
        <!--</button>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../">Sair</a>
                </li>
                
            </ul>

        </div>
    </div>
</nav>

<aside id="header">
    <section class="profile">
        <img src="" alt="corsa brabo" id="img_perfil">
        <h1 id="user">User</h1>        
    </section>
    <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../aluno/"><i class="bi bi-house"></i> Homer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./perfil.html"><i class="bi bi-person"></i> Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Professor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./exercicios.html"><i class="bi bi-file-earmark"> </i>Exercícios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#porta"><i class="bi bi-collection"> </i>Carteirinha</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#contato"><i class="bi bi-envelope"> </i>Documentação</a>
            </li>             
            <li class="nav-item" id="link_out">
                <a class="nav-link" href="../"><i class="bi bi-envelope"> </i>Sair</a>
            </li>                                                          
          </ul>
    </nav>
</aside>

<main id="main">    
    <section id="porta" class="section-bg">
        <div class="container pb-5 pt-5">
            <h2 class="pab-4">Minha Semana</h2>
            <div class="row justify-content-center mt-5" id="semana">
                
            </div>
        </div>
    </section>
    <section class="mt-5 cv" id="cu" onload="myFunction()">
        <div class="container pb-5">
            <h2 class="pt-3 pb-4">Exercícios Sugeridos</h2>
            <div class="row" id="sugeridos">                
            </div>
        </div>
    </section>
    <!--MODAL-->
    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Segunda Feira</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Exercícios</h4>
                    <p>paragrafo</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>    
    </div>
    <div id="modais">
        
    </div>
</main>




</body>
</html>